:root {
    --blue: #3A599C;
    --yellow: #FFD014;
    --red: #ea3a30;
    --black: #111;
    --white: #eee;
    --title: Anta, sans-serif;
    --body: "Tilt Neon", sans-serif;
    --text: 16px;
    --standard-margin: 20px;
    --standard-padding: 10px;
  }
    * {
    box-sizing: border-box;
    }
    
  body {
    font-family: var(--body);
    font-size: var(--text);
    font-weight: 100;
    background-color: var(--white);
    display:block;
    max-width: 1200px;
    width:100%;
    margin: var(--standard-margin) auto;
    text-align:center;
  }
  
  .card__front {
    background-color: var(--blue);
    padding: var(--standard-padding);
    border: 10px solid var(--yellow);
    text-align:center;
    display:inline-block;
    width: 250px;
    vertical-align:middle;
    min-height: 210px;
    margin: var(--standard-margin);
    color: var(--white);
  }
  
  .card__front--name {
    font-family: var(--title);
    font-size: var(--h2);
    text-transform:uppercase;
    display:block;
    margin: var(--standard-margin) auto;
    color: var(--yellow);
    font-weight: 900;
  }
  
  /* Media Queries*/

 @media all and (max-width: 992px) {
    .card__front {
        margin: 10px;

    }
 }
 @media all and (max-width: 768px) {

 }
 @media all and (max-width: 480px) {
    
 }
 @media all and (max-width: 320px) {
    
 }